.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 20px;
    overflow: hidden;
    gap: 3rem;
  }
  
  .image-container {
    animation: slideInFromLeft 1.5s ease-out forwards;
  }
  
  .rounded-image {
    width: 500px; /* Adjust the size of the circle */
    height: 480px;
    border-radius: 50%;
    border: 4px solid #ccc;
    object-fit: cover;
  }
  
  .text-container {
    animation: slideInFromRight 1.5s ease-out forwards;
  }
  
  .animated-text {
    font-size: 1.2rem;
   color:black;

    
  }
  
  /* Animation Keyframes */
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  