.animated-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .animated-section.slide-up {
    opacity: 1;
    transform: translateY(0);
  }
  